body {
	margin: 0;
}

#header {
	background-color: black;
	margin: 0;
	color: white;
	font-size: 30px;
	font-family: Verdana;
}

img {
    height: 150px;
}

img:hover {
    position: relative;
    top: 10px;
    cursor:pointer;
}

img:active {
    position: relative;
    left: 10px;
}

#count {
    float: right;
    font-size: 50px;
    position: relative;
    right: 100px;
    font-family: sans-serif;
}

#reload {
    position: relative;
    left: 30px;
    display: none;
    font-family: sans-serif;
    font-size: 14px;
}

#reload:hover {
    font-size: 17px;
    cursor:pointer;
}

li {
    font-family: sans-serif;
}

.red {
    color: red;
}

.green {
    color: green;
}

.black {
    color: black;
}
