body {
	margin: 0;
}

#header {
	background-color: black;
	margin: 0;
	color: white;
	font-size: 30px;
	font-family: Verdana;
}

img {
    height: 150px;
}

img:hover {
    position: relative;
    top: 10px;
}

img:active {
    position: relative;
    left: 10px;
}

p {
    float: right;
    font-size: 50px;
    position: relative;
    right: 100px;
    font-family: sans-serif;
}
